/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

 body {
  font-family: Roboto;
}


/* SEARCH */

#search_artist {
  padding: 20px;
}

#search_artist .wrapper {
  margin: 0 auto;
}

#search_artist .wrapper h1 {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  padding: 30px 0px;
  color: #00BCD4;
  font-family: 'Pacifico', cursive;
}

input {
  width: 100%;
  border-radius: 50px;
  -webkit-appearance: none;
  border: 1px solid #d6d6d6;
  padding: 10px 30px;
  font-size: 21px;
  font-weight: 300;
  font-family: Roboto;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #b8b8b8;
  font-family: Roboto;
  text-align: center;
}

#search_artist .wrapper #btn_search {
  width: 150px;
  color: #03A9F4;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

/* ALBUMS */
#album_list_container {
  margin-top: 50px;
}

#album_list_container .album_item {
  padding: 20px 0;
  background: #f7f7f7;
  border-top: 1px solid #dedede;
  text-align: center;
}

#album_list_container .album_item .item_thmb {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-size: cover !important;
  background-repeat: no-repeat;
}


#album_list_container .album_item .item_title {
  font-size: 20px;
  padding: 20px 0 10px;
  text-align: center;
}

#album_list_container .album_item .item_price {
  text-align: center;
  color: #009688;
  font-size: 14px;
}

#album_list_container .album_item a {
  background: #2196F3;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}

#not_match {
  display: none;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 18px;
  margin: 5px 0 0 0;
}
